* {
  text-align: center;
}

/* LANDING PAGE */

/* .landing-page > h2, h1, p {
  color: white;

} */

.landing-container {
  height: 500px;
  min-height: 600px;
  max-height: 1000px;
  background-color: #FAEEC7;
  position: relative;
}

.landing-hero {

  /* background image styling */
  background-image: url(./assets/images/background-image.jpg);
  height: 85%;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* general styling & centering */
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* internal component sytling */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CUSTOM FOOTER */

.footer {
  display: flex;
  justify-content: center;
}

.footer-list {
  list-style: none;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

/* NAVIGATION COMPONENT */