.main {
    display: flex;
    flex-direction: column;
}

.form {
    padding: 1rem;
    margin: 1rem;
}

/* five star rating element styles */
.rating {
    margin-top: 1rem;
}

.rating path {
    color: #faaf00;
}

@media only screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }

    .formContainer {
        width: 35vw;
    }

    .recipeContainer {
        width: 60vw;
    }
}