.main {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .main {
        flex-direction: row;
    }

    .formContainer {
        width: 35vw;
    }

    .recipeContainer {
        width: 60vw;
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
    }

    .formContainer {
        width: 28vw;
    }

    .recipeContainer {
        width: 70vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}