.card {
    margin: 2rem;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

/* card actions container centers button */
.btnContainer {
    justify-content: center;
    align-items: center;
}

.btn {
    color: #BB9316;
}