/* Navigation Component Styling */

.appbar > * {
    color: white;
}

/* HAMBURGER MENU ITEM STYLES */
.dropdown > p {
    color: black;
}

/* A DISH A DAY STYLES */
.title > span, path {
    color: white;
}