/* Navigation Component Styling */

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HAMBURGER MENU ITEM STYLES */
.dropdown > p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* A DISH A DAY STYLES */
.title > span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}