* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 500px;
    min-height: 600px;
    max-height: 1000px;
    background-color: #FAEEC7;
    position: relative;
}
  
.hero {
  
    /* background image styling */
    background-image: url(../../assets/images/background-image.jpg);
    height: 85%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* general styling & centering */
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    /* internal component sytling */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero > h1 {
    font-size: xx-large;
}

.signup {
    font-size: large;
    padding-top: 1rem;
    margin-top: 10px;
}