.card {
    background-color: rgba(247, 240, 109, 0.8) !important;
    width:345px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow:1;
    display: inline-flex;
    align-content: space-evenly;
    margin: 40px 20px 20px 20px;
    padding: 30px;
    align-items:stretch;
}
